<div class="wizard-container">
  <div class="wizard-content column-one">
    <div class="wizard-details">
      <h3>House of Representatives</h3>

      <p class="title">Booking Details</p>
      <div class="description">
        <div class="schedule-selection">
          <span>Location: </span> {{ step1Data.location }}
        </div>
        <div class="schedule-selection">
          <span>Date Booked: </span>{{ step1Data.date }}
        </div>
        <div class="schedule-selection">
          <span>Visitor Type: </span>{{ step1Data.visitor_type }}
        </div>
        <div class="schedule-selection">
          <span>Booking Type: </span>{{ step1Data.booking_type }}
        </div>

        @if (step1Data.visitor_type === 'Student') {
          <div class="schedule-selection">
            <span>Student Type: </span>{{ step1Data.student_type }}
          </div>
        }

        @if (step1Data.visitor_type === 'Local Government') {
          <div class="schedule-selection">
            <span>Province: </span>{{ step1Data.province }}
          </div>
          <div class="schedule-selection">
            <span>Municipality: </span>{{ step1Data.municipality }}
          </div>
        }

        @if (step1Data.visitor_type === 'Foreign Visitor') {
          <div class="schedule-selection">
            <span>Municipality: </span>{{ step1Data.country_of_origin }}
          </div>
        }
        
      </div>
    </div>
  </div>
  <div class="wizard-content column-two">
    <div class="wizard-details">
      <div class="description">
        <form [formGroup]="form" class="form">
          <div class="section visitor-details">
            <h4>Visitors Details</h4>
            <div class="required">
              * All fields are  required
            </div>
            <div>
              <p-iftalabel>
                <input pInputText formControlName="firstName" autocomplete="off" />
                <label>First Name</label>
                <div
                  *ngIf="
                    form.get('firstName')?.invalid &&
                    form.get('firstName')?.touched
                  "
                  class="required"
                >
                  First name is required.
                 </div>
              </p-iftalabel>
            </div>
            <div>
              <p-iftalabel>
                <input pInputText formControlName="middleName" autocomplete="off" />
                <label>Middle Name</label>
                <div
                  *ngIf="
                    form.get('middleName')?.invalid &&
                    form.get('middleName')?.touched
                  "
                  class="required"
                >
                  Middle name is required.
                 </div>
              </p-iftalabel>
            </div>
            <div>
              <p-iftalabel>
                <input pInputText formControlName="lastName" autocomplete="off" />
                <label>Last Name</label>
                <div
                  *ngIf="
                    form.get('lastName')?.invalid &&
                    form.get('lastName')?.touched
                  "
                  class="required"
                >
                  Last name is required.
                 </div>
              </p-iftalabel>
            </div>
            <div>
              <p-iftalabel>
                <p-select
                  [formControlName]="'ageRange'"
                  [options]="ageRange"
                  optionLabel="name"
                  optionValue="value"
                  styleClass="w-full"
                />
                <label>Age Range</label>
                <div
                  *ngIf="
                    form.get('ageRange')?.invalid &&
                    form.get('ageRange')?.touched
                  "
                  class="required"
                >
                  Age name is required.
                 </div>
              </p-iftalabel>
            </div>
            <div>
              <p-iftalabel>
                <p-select
                  [formControlName]="'sex'"
                  [options]="sex"
                  optionLabel="name"
                  optionValue="value"
                  styleClass="w-full"
                />
                <label>Sex</label>
                <div
                  *ngIf="
                    form.get('sex')?.invalid &&
                    form.get('sex')?.touched
                  "
                  class="required"
                >
                  Sex is required.
                 </div>
              </p-iftalabel>
            </div>
            <!-- <div>
              Tick box if applicable
            </div>
            <div class="checkboxes">
              <p-checkbox
                formControlName="isSoloParent"
                value="yes"
                binary="true"
              />
              <label class="label">Are you a Solo Parent?</label>
            </div>
            <div class="checkboxes">
              <p-checkbox
                formControlName="isHouseEmployee"
                value="yes"
                binary="true"
              />
              <label class="label">Are you an employee of the House of Representatives?</label>
            </div> -->
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="wizard-content column-threee">
    <div class="wizard-details">
      <h4>Identification</h4>
      <div class="description">
        <p>Upload a valid ID to proceed with your visit registration</p>
        <div class="id-upload">
          <p-fileupload
            mode="basic"
            name="file"
            accept=".jpg, .jpeg, .png"
            chooseIcon="fa-solid fa-upload"
            maxFileSize="maxFileSize * 1024 * 1024"
            [auto]="true"
            [url]="vmsCmsUrl + '/upload'"
            [disabled]="isFileUploading"
            [chooseLabel]="!isFileUploading ? 'Click to Upload ID' : 'Uploading'"
            (onBeforeUpload)="onBeforeUpload($event)"
            (onUpload)="onUploadSuccess($event)"
            (onError)="onUploadError($event)"
          />
          <div *ngIf="isFileUploading" class="mt-2 text-sm text-gray-600">
            <i class="pi pi-spin pi-spinner"></i> Uploading file, please wait…
          </div>
          <div *ngIf="uploadMessage" class="mt-2 text-sm success-message">
            {{ uploadMessage }}
          </div>
          <div
            *ngIf="
              form.get('uploadedIdFileName')?.invalid &&
              form.get('uploadedIdFileName')?.touched
            "
            class="required"
          >
            ID is required.
          </div>
        </div>

        @if (step1Data.booking_type === 'Group') {
          <div class="template-upload">
            <p><a href="./assets/visitors-template.csv">Download the Excel template here</a>, fill out, and upload your group list below</p>
            <p-fileupload
              mode="basic"
              name="csvFile"
              accept=".csv"
              chooseIcon="fa-solid fa-upload"
              maxFileSize="maxFileSize * 1024 * 1024"
              [auto]="true"
              [url]="vmsCmsUrl + '/upload-csv'"
              [disabled]="isCsvFileUploading"
              [chooseLabel]="!isCsvFileUploading ? 'Click to Upload Template' : 'Uploading'"
              (onBeforeUpload)="onBeforeUploadCsv($event)"
              (onUpload)="onUploadSuccessCsv($event)"
              (onError)="onUploadErrorCsv($event)"
            />
            <div *ngIf="isCsvFileUploading" class="mt-2 text-sm text-gray-600">
              <i class="pi pi-spin pi-spinner"></i> Uploading csv file, please wait…
            </div>
            <div *ngIf="uploadMessageCsv" class="mt-2 text-sm success-message">
              {{ uploadMessageCsv }}
            </div>
          </div>
        }
        
        <p class="uploading-consent">
          By uploading your valid ID, you agree that your information will be used
          only for identity verification. We handle all data with strict
          confidentiality and in compliance with the 
          Philippine Data Privacy Act of 2012. For more details, 
          please review our <a href="#" (click)="onOpenPrivacyPolicy()">Privacy Policy</a>.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showPrivacyPolicyModal">
  <div class="modal">
    <div class="privacy-policy">
      <div class="logo-wrapper">
        <img src="./assets/img/logo.png" class="logo" />
      </div>
      <h2>House of Representatives
        Legislative Information Resources Management Department (LIRMD)
        DATA PRIVACY NOTICE & CONSENT</h2>
      <p>The Legislative Information Resources Management Department (LIRMD) of the House of
        Representatives (HRep) is committed to protecting your personal information in accordance
        with the Data Privacy Act of 2012 (Republic Act No. 10173) and its Implementing Rules and
        Regulations (IRR).</p>

      <h3>PURPOSE OF DATA COLLECTION</h3>
      <p>The personal information you provide through this form will be collected and processed to: </p>
      <ul class="text-left">
        <li>Facilitate your request, inquiry, or transaction;</li>
        <li>Provide access to LIRMD programs, services, and facilities;</li>
        <li>Improve accessibility, inclusivity, and overall service quality;</li>
        <li>Ensure website functionality, performance, and security; and</li>
        <li>Comply with government reporting, documentation, and audit requirements</li>
      </ul>

      <h3>DATA COLLECTED</h3>
      <p>Depending on the nature of your transaction, we may collect the following</p>
      <ul class="text-left">
        <li><strong>Technical Information (automatically collected): IP address</strong>, browser type, device
          information, access date and time, and pages visited
        </li>
      </ul>
      <p>
        Providing this information is voluntary, but failure to do so may prevent us from processing
        your request effectively
      </p>
      <h3>DATA PROTECTION AND RETENTION</h3>
      <p>
        Your personal data will be stored securely and accessed only by authorized personnel. It will
        be retained only as long as necessary for the stated purposes or as required by law, in
        accordance with <strong>Sections 20–22 of the IRR of RA 10173</strong>.
      </p>
      <h3>DATA SHARING</h3>
      <p>
        Your information will not be shared with unauthorized parties. It may be disclosed only to
        authorized HRep personnel or other government agencies when required by law or regulation,
        consistent with <strong>Rule IV, Section 18 of the IRR</strong> (principles of transparency, legitimate purpose,
        and proportionality). 
      </p>
      <h3>YOUR RIGHTS</h3>
      <p>You have the right to access, correct, or withdraw your personal data, and to file a complaint
      with the <strong>National Privacy Commission (NPC)</strong> pursuant to <strong>Sections 16–19 of the Data
      Privacy Act</strong> and its <strong>IRR</strong>.</p>
      <h3>CONTACT US</h3>
      <p>For any concerns or inquiries about data privacy, you may contact:</p>
      <p class="text-center">
        <strong>Atty. Ricardo D. Bering</strong> <br />
        <i>Data Protection Officer</i> <br />
        Email: ricardo.bering&#64;house.gov.ph <br />
        Phone: (+632) 8952-4150</p>
      <h3 class="text-left">CONSENT</h3>
      <p class="text-left">Please confirm your agreement before proceeding:</p>
      <label class="consent text-left">
        <input type="checkbox" [(ngModel)]="hasReadNotice" id="readNotice" />
        <div>
          I have read and understood the above Data Privacy Notice.
        </div>
      </label>
      <label class="consent text-left">
        <input type="checkbox" [(ngModel)]="hasGivenConsent" id="giveConsent"/>
        <div>
          I give my consent to the collection and processing of my personal data by the Legislative
          Information Resources Management Department (LIRMD) of the House of
          Representatives, in accordance with the Data Privacy Act of 2012 (RA 10173) and its
          Implementing Rules and Regulations (IRR).
        </div>
      </label>

      <div *ngIf="!hasConsented" class="error">Please confirm both checkboxes before continuing.</div>
      <div class="text-center btn-container">
        <button class="btn btn-blue mr-1" (click)="agreeAndContinue()">Agree and Continue</button>
        <button class="btn btn-grey" (click)="declineAndExit()">Decline and Exit</button>
      </div>
      
    </div>
  </div>
</div>


<!-- <p-dialog 
  header="" 
  [(visible)]="showPrivacyPolicyModal" 
  [modal]="true" 
  [closable]="false" 
  [style]="{width: '400px', height: '450px'}">

  <div class="privacy-policy">
    <div class="logo-wrapper">
      <img src="./assets/img/logo.png" class="logo" />
    </div>
    <h2>House of Representatives
      Legislative Information Resources Management Department (LIRMD)
      DATA PRIVACY NOTICE & CONSENT</h2>
    <p>The Legislative Information Resources Management Department (LIRMD) of the House of
      Representatives (HRep) is committed to protecting your personal information in accordance
      with the Data Privacy Act of 2012 (Republic Act No. 10173) and its Implementing Rules and
      Regulations (IRR).</p>

    <h3>PURPOSE OF DATA COLLECTION</h3>
    <p>The personal information you provide through this form will be collected and processed to: </p>
    <ul class="text-left">
      <li>Facilitate your request, inquiry, or transaction;</li>
      <li>Provide access to LIRMD programs, services, and facilities;</li>
      <li>Improve accessibility, inclusivity, and overall service quality;</li>
      <li>Ensure website functionality, performance, and security; and</li>
      <li>Comply with government reporting, documentation, and audit requirements</li>
    </ul>

    <h3>DATA COLLECTED</h3>
    <p>Depending on the nature of your transaction, we may collect the following</p>
    <ul class="text-left">
      <li><strong>Technical Information (automatically collected): IP address</strong>, browser type, device
        information, access date and time, and pages visited
      </li>
    </ul>
    <p>
      Providing this information is voluntary, but failure to do so may prevent us from processing
      your request effectively
    </p>
    <h3>DATA PROTECTION AND RETENTION</h3>
    <p>
      Your personal data will be stored securely and accessed only by authorized personnel. It will
      be retained only as long as necessary for the stated purposes or as required by law, in
      accordance with <strong>Sections 20–22 of the IRR of RA 10173</strong>.
    </p>
    <h3>DATA SHARING</h3>
    <p>
      Your information will not be shared with unauthorized parties. It may be disclosed only to
      authorized HRep personnel or other government agencies when required by law or regulation,
      consistent with <strong>Rule IV, Section 18 of the IRR</strong> (principles of transparency, legitimate purpose,
      and proportionality). 
    </p>
    <h3>YOUR RIGHTS</h3>
    <p>You have the right to access, correct, or withdraw your personal data, and to file a complaint
    with the <strong>National Privacy Commission (NPC)</strong> pursuant to <strong>Sections 16–19 of the Data
    Privacy Act</strong> and its <strong>IRR</strong>.</p>
    <h3>CONTACT US</h3>
    <p>For any concerns or inquiries about data privacy, you may contact:</p>
    <p class="text-center">
      <strong>Atty. Ricardo D. Bering</strong> <br />
      <i>Data Protection Officer</i> <br />
      Email: ricardo.bering&#64;house.gov.ph <br />
      Phone: (+632) 8952-4150</p>
    <h3 class="text-left">CONSENT</h3>
    <p class="text-left">Please confirm your agreement before proceeding:</p>
    <label class="consent text-left">
      <input type="checkbox" [(ngModel)]="hasReadNotice" id="readNotice" />
      <div>
        I have read and understood the above Data Privacy Notice.
      </div>
    </label>
    <label class="consent text-left">
      <input type="checkbox" [(ngModel)]="hasGivenConsent" id="giveConsent"/>
      <div>
        I give my consent to the collection and processing of my personal data by the Legislative
        Information Resources Management Department (LIRMD) of the House of
        Representatives, in accordance with the Data Privacy Act of 2012 (RA 10173) and its
        Implementing Rules and Regulations (IRR).
      </div>
    </label>

    <div *ngIf="!hasConsented" class="error">Please confirm both checkboxes before continuing.</div>
    <div class="text-center btn-container">
      <button class="btn btn-blue mr-1" (click)="agreeAndContinue()">Agree and Continue</button>
      <button class="btn btn-grey" (click)="declineAndExit()">Decline and Exit</button>
    </div>
    
  </div>

</p-dialog> -->