a {
    color: #1890FF;
    text-decoration: underline;
    font-weight: 700;
}

.template-upload,
.uploading-consent {
    margin-top: var(--spacing-xl);
}

.success-message {
    color: #155724;
    font-size: 12px;
    margin: 5px 0;
}

.required {
    color: #721c24;
    font-size: 12px;
    margin-top: 5px;
}

.privacy-policy {
    font-family: var(--proximanova-reg-font);
    h2 {
        font-size: 25px;
        margin-top: 0;
        text-align: center;
    }

    p, label {
        color: inherit;
        font-family: var(--proximanova-reg-font);
    }

    .text-center {
        text-align: center;
    }

    .logo-wrapper {
        text-align: center;
        .logo {
            width: 120px;
            margin-bottom: 10px;
        }
    }

    ul {
        li {
            font-family: var(--proximanova-reg-font);
            list-style: disc;
            margin-left: 30px;
        }
    }

    .consent {
        font-size: 11px;
        margin-top: 15px;
        display: block;
        display: flex;
        align-items: flex-start;

        input[type="checkbox"] {
            margin-top: 0;
            margin-right: 10px;
        }

        div {
            line-height: 15px;

            a {
                color: #FFFFFF;
            }
        }
    }

    .mr-1 {
        margin-right: 5px;
    }

    .error {
        font-size: 12px;
        margin-top: 10px;
        text-align: center;
        color: #dc3545;
    }

    .btn-container {
        padding: 20px 0 10px;

        .btn {
            color: var(--primitive-full-white);
            border: 1px solid var(--primitive-blue);
            font-size: 12px;
            padding: 10px;
            border-radius: var(--border-radius-lg);

            &.btn-blue {
                background-color: var(--primitive-blue);
            }

            &.btn-grey {
                background-color: #6c757d
            }
        }
    }
}

