<div class="container">
  <div class="left">
    <div class="logo">
      <a routerLink="/">
        <img
          *ngIf="location !== 'Library and Archives'"
          class="the-house" 
          src="../../../assets/images/the-house-logo-white.png"
          alt="The House" 
        />
        <img
          *ngIf="location == 'Library and Archives'"
          class="lib-archives-the-house"
          src="../../../assets/images/library-archives-the-house.svg"
          alt="Library, Archives and The House"
        />
      </a>
    </div>
    <form [formGroup]="consentForm">
      <div class="info-container">
        <h3>Notes and Reminders</h3>
        <div [innerHTML]="reminders" class="reminders"></div>
        <div class="checkbox-group">

          <label class="checkbox-row">
            <input type="checkbox" formControlName="privacyNotice">
            <span>
              I have read and understood the
              <a href="#">Data Privacy Notice</a>
            </span>

          </label>

          <label class="checkbox-row">

            <input type="checkbox" formControlName="consent">

            <span>
              I give my consent to the collection and processing of my personal data
              by the Legislative Information Resources Management Department (LIRMD)
              of the House of Representatives in accordance with the Data Privacy
              Act of 2012 or R.A. No. 10173 and its implementing Rules and Regulation.
            </span>

          </label>
        </div>

        <div class="error" *ngIf="submitted && consentForm.invalid">
          Please read the privacy notice and provide your consent before proceeding.
        </div>

        <button type="button" class="next-btn" (click)="proceed()">
          Next
        </button>
      </div>
    </form>

    <div class="footer">
        <span class="x">
          <i class="fa-brands fa-x-twitter"></i>
          <a href="https://x.com/thehousemuseum" target="_blank">
            &#64;thehouse.museum
          </a>
        </span>
        <span class="email">
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:legislativemuseum@house.gov.ph">
            legislativemuseum&#64;house.gov.ph
          </a>
        </span>
        <span class="phone">
          <i class="fa-solid fa-phone"></i>
          (02) 886-31023 loc. 7649 / 7650
        </span>
        <span class="tiktok">
          <i class="fa-brands fa-tiktok"></i>
          <a href="https://www.tiktok.com/@thehousehrepmuseum" target="_blank">
            &#64;thehousemuseum
          </a>
        </span>
    </div>
  </div>
  <div class="right">
    <div class="footer">
        <img src="../assets/images/logo-header-1.svg" alt="Logo 1" class="logo-1">
        <img src="../assets/images/the-house-logo-blue.svg" alt="Logo 2">
    </div>
  </div>
</div>


