<form [formGroup]="consentForm">
  <h2 class="main-title">
    {{ location }}
  </h2>
  <div class="info-container">
    <h3>Notes and Reminders</h3>
    <div [innerHTML]="reminders" class="reminders"></div>
    <!-- <ul>
      <li>The online booking form must be completely filled-up and submitted at least 3 working days (except Fridays and Holidays) prior to your preferred date of visit.</li>
      <li>The Museum is open from Monday to Thursday. The guided tours are at 9:00 AM, 1:00 PM and 4:00 PM for a duration of one (1) hour.</li>
      <li>All tours are free of charge.</li>
      <li>Children should be at least 5 years old and accompanied by a parent/guardian. We also recommend companion for guests who require assistance.</li>
      <li>Dress respectfully and appropriately. </li>
      <li>No food and beverages inside the museum. </li>
      <li>We only accept maximum of 25 persons per tour slot.</li>
      <li>Parking areas inside the House of Representative property is on a first-come-first-served basis. </li>
      <li>Video recording is strictly prohibited.</li>
    </ul> -->

    <div class="checkbox-group">

      <label class="checkbox-row">
        <input type="checkbox" formControlName="privacyNotice">

        <span>
          I have read and understood the
          <a href="#">Data Privacy Notice</a>
        </span>

      </label>

      <label class="checkbox-row">

        <input type="checkbox" formControlName="consent">

        <span>
          I give my consent to the collection and processing of my personal data
          by the Legislative Information Resources Management Department (LIRMD)
          of the House of Representatives in accordance with the Data Privacy
          Act of 2012 RA 10173 and its implementing Rules and Regulations IRR.
        </span>

      </label>
    </div>

    <div class="error" *ngIf="submitted && consentForm.invalid">
      Please read the privacy notice and provide your consent before proceeding.
    </div>

    <button type="button" class="next-btn" (click)="proceed()">
      Next
    </button>
  </div>
</form>
