<div class="container" *ngIf="location">
  <div class="left">
    <div class="logo">
      <a routerLink="/">
        <img
          *ngIf="location.showHouseLogo"
          class="the-house"
          src="../../../assets/images/the-house-logo-white.png"
          alt="The House"
        />
        <img
          *ngIf="location.showLibraryLogo"
          class="lib-archives-the-house"
          src="../../../assets/images/library-archives-the-house.svg"
          alt="Library, Archives and The House"
        />
      </a>
    </div>
    <form [formGroup]="consentForm">
      <div class="info-container">
        <h3>Notes and Reminders</h3>
        <div [innerHTML]="reminders" class="reminders" aria-live="polite"></div>
        <div class="error" *ngIf="remindersError">
          Unable to load reminders right now. Please refresh the page.
        </div>
        <div class="checkbox-group">

          <label class="checkbox-row">
            <input type="checkbox" formControlName="privacyNotice">
            <span>
              I have read and understood the
              <a class="link-button" (click)="openPrivacyNotice($event)">Data Privacy Notice</a>
            </span>

          </label>

          <label class="checkbox-row">

            <input type="checkbox" formControlName="consent">

            <span>
              I give my consent to the collection and processing of my personal data
              by the Legislative Information Resources Management Department (LIRMD)
              of the House of Representatives in accordance with the Data Privacy
              Act of 2012 or R.A. No. 10173 and its implementing Rules and Regulation.
            </span>

          </label>
        </div>

        <div class="error" #consentError *ngIf="submitted && consentForm.invalid" tabindex="-1" aria-live="assertive">
          Please read the privacy notice and provide your consent before proceeding.
        </div>

        <button type="button" class="next-btn" (click)="proceed()">
          Next
        </button>
      </div>
    </form>

    <div class="footer">
        <span class="x">
          <i class="fa-brands fa-x-twitter"></i>
          <a href="https://x.com/{{ location.xAccount }}" target="_blank">
            &#64;{{ location.xAccount }}
          </a>
        </span>
        <span class="email">
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:{{ location.email }}">
            {{ location.email }}
          </a>
        </span>
        <span class="phone">
          <i class="fa-solid fa-phone"></i>
          {{ location.contactNo }}
        </span>
        <span
          *ngIf="location.tiktokAccount"
          class="tiktok">
          <i class="fa-brands fa-tiktok"></i>
          <a href="https://www.tiktok.com/@{{ location.tiktokAccount }}" target="_blank">
            &#64;{{ location.tiktokAccount }}
          </a>
        </span>
        <span
          *ngIf="location.fbAccount"
          class="facebook">
          <i class="fa-brands fa-facebook"></i>
          <a href="https://www.facebook.com/{{ location.fbAccount }}" target="_blank">
            &#64;{{ location.fbAccount }}
          </a>
        </span>
    </div>
  </div>
  <div
    class="right"
    style="background: url('../../../assets/images/{{ location.infoBgImage }}') no-repeat center/cover;"
    >
    <div class="footer">
        <img
          *ngIf="location.showHouseLogo"
          src="../assets/images/lib-archives.svg" alt="Library, Archives and Museum logo" class="logo-1">
        <img
          *ngIf="location.showLibraryLogo"
          src="../assets/images/the-house-logo-blue.svg" alt="The House of Representatives logo">
    </div>
  </div>

  <dialog
    #privacyDialog
    class="privacy-dialog"
    aria-labelledby="privacyDialogTitle"
    (click)="onPrivacyDialogBackdropClick($event)">
    <div class="privacy-dialog-content">
      <div class="privacy-dialog-header">
        <h3 id="privacyDialogTitle">Data Privacy Notice</h3>
        <button
          type="button"
          class="privacy-dialog-close"
          autofocus
          aria-label="Close"
          (click)="closePrivacyNotice()">
          &times;
        </button>
      </div>
      <div class="privacy-dialog-body">
        <p class="privacy-dialog-loading" *ngIf="privacyNoticeLoading">Loading&hellip;</p>
        <div class="error" *ngIf="privacyNoticeError">
          Unable to load the Data Privacy Notice right now.
          <button type="button" class="link-button" (click)="retryPrivacyNotice()">Try again</button>
        </div>
        <div
          *ngIf="!privacyNoticeLoading && !privacyNoticeError"
          [innerHTML]="privacyNoticeContent"
          aria-live="polite">
        </div>
      </div>
    </div>
  </dialog>
</div>
