@import "variables";

.full-layout {
  padding: 0;
}

.main-content.full {
  width: 100%;
  height: 100vh;
}

.container {
      display: flex;
      width: 100%;
      height: 100%;
    }

    /* LEFT SIDE */
    .left {
      width: 50%;
      background: #2f436c;
      color: #fff;
      padding: 40px 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 2;
    }

    .logo {
      text-align: center;
    }


    .footer {
      font-size: 12px;
      opacity: 0.8;
      text-align: center;
      margin-top: 20px;
    }

    /* RIGHT SIDE */
    .right {
      width: 50%;
      background: url('../../../assets/images/info-bg.jpg') no-repeat center/cover;;
      //background: url('your-image.jpg') no-repeat center/cover;
      position: relative;
    }

    /* Optional overlay fade */
    .right::before {
      content: "";
      position: absolute;
      left: -80px;
      top: 0;
      width: 200px;
      height: 100%;
      background: linear-gradient(to right, #2f436c, transparent);
    }

    @media (max-width: 900px) {
      .container {
        flex-direction: column;
      }
      .left, .right {
        width: 100%;
      }
      .right {
        height: 300px;
      }
    }

.info-container {
  .reminders {
    text-align: left;
    padding: 0 20px;
      
    }

  .checkbox-group {
    margin-top: 20px;
    padding: 0 5px;
    text-align: left;
  }

  .checkbox-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 14px;
    color: $info-content;
  }

  .checkbox-row input {
    margin-top: 4px;
  }

  .checkbox-row a {
    font-style: italic;
    text-decoration: underline;
  }

  li {
        margin-bottom: 10px;
        line-height: 30px;
      }
}

// @media (max-width: 768px) {

//   .form-container,
//   .info-container {
//     margin: 40px 20px;
//     padding: 25px;
//   }

//   .info-container {
//     h3 {
//       font-size: 25px;
//       line-height: 35px;
//     }

//   }
// }