<div class="forms">
    <div class="logos">
        <a routerLink="/">
          <img src="../assets/images/logo-header-1.svg" alt="Logo 1" class="logo-1">
          <img src="../assets/images/logo-header-2.svg" alt="Logo 2">
          <img src="../assets/images/the-house-logo-white.png" alt="Logo 1">
        </a>
    </div>
    <museum-form
        [location]="location"
    ></museum-form>
    <div class="footer">
        <span class="x">
          <i class="fa-brands fa-x-twitter"></i>
          &#64;thehouse.museum
        </span>
        <span class="email">
          <i class="fa-solid fa-envelope"></i>
          legislative&#64;thehouse.gov.ph
        </span>
        <span class="phone">
          <i class="fa-solid fa-phone"></i>
          8931-5001 Loc 7650 / 7685
        </span>
        <span class="tiktok">
          <i class="fa-brands fa-tiktok"></i>
          &#64;thehousemuseum
        </span>
    </div>
</div>
