<div class="forms">
    <div class="logos">
        <a routerLink="/">
          <img src="../assets/images/logo-header-1.svg" alt="Logo 1" class="logo-1">
          <img src="../assets/images/library-archives-the-house.svg" alt="Logo 2">
          <img
            *ngIf="location == 'The Legislative Museum of the House of Representatives'"
            src="../assets/images/the-house-logo-white.png" 
            alt="Logo 1">
        </a>
    </div>
    <museum-form
        [location]="location"
    ></museum-form>
    <div class="footer">
        <span class="x">
          <i class="fa-brands fa-x-twitter"></i>
          <a href="https://x.com/thehousemuseum" target="_blank">
            &#64;thehouse.museum
          </a>
        </span>
        <span class="email">
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:legislativemuseum@house.gov.ph">
            legislativemuseum&#64;house.gov.ph
          </a>
        </span>
        <span class="phone">
          <i class="fa-solid fa-phone"></i>
          (02) 886-31023 loc. 7649 / 7650
        </span>
        <span class="tiktok">
          <i class="fa-brands fa-tiktok"></i>
          <a href="https://www.tiktok.com/@thehousehrepmuseum" target="_blank">
            &#64;thehousemuseum
          </a>
        </span>
    </div>
</div>
