a {
    color: #1890FF;
    text-decoration: underline;
    font-weight: 700;
}

.required {
    color: #721c24;
    font-size: 12px;
    margin-top: 5px;
}

.privacy-policy {
    text-align: center;

    p {
        line-height: 18px;
    }

    .logo {
        width: 200px;
        margin-bottom: 10px;
    }

    .btn {
        background-color: var(--primitive-blue);
        color: var(--primitive-full-white);
        border: 1px solid var(--primitive-blue);
        font-size: 16px;
        padding: 10px 40px;
        border-radius: var(--border-radius-lg);
    }
}