<div class="wizard-container">
  <div class="wizard-content column-one">
    <div class="wizard-details">
      <h3>House of Representatives</h3>

      <p class="title">Booking Details</p>
      <div class="description">
        <div class="schedule-selection">
          <span>Location: </span> {{ step1Data.location }}
        </div>
        <div class="schedule-selection">
          <span>Date Booked: </span>{{ step1Data.date }}
        </div>
        <div class="schedule-selection">
          <span>Visitor Type: </span>{{ step1Data.visitor_type }}
        </div>
        <div class="schedule-selection">
          <span>Booking Type: </span>{{ step1Data.booking_type }}
        </div>

        @if (step1Data.visitor_type === 'Student') {
          <div class="schedule-selection">
            <span>Student Type: </span>{{ step1Data.student_type }}
          </div>
        }

        @if (step1Data.visitor_type === 'Local Government') {
          <div class="schedule-selection">
            <span>Province: </span>{{ step1Data.province }}
          </div>
          <div class="schedule-selection">
            <span>Municipality: </span>{{ step1Data.municipality }}
          </div>
        }

        @if (step1Data.visitor_type === 'Foreign Visitor') {
          <div class="schedule-selection">
            <span>Municipality: </span>{{ step1Data.countryOfOrigin }}
          </div>
        }
        
      </div>
    </div>
  </div>
  <div class="wizard-content column-two">
    <div class="wizard-details">
      <h4>Visitor Details</h4>
      <div class="description">
        <div class="section visitor-details">
          <p class="detail-field">Last Name</p>
          <p class="detail-value">{{ step2Data.lastName }}</p>

          <p class="detail-field">First Name</p>
          <p class="detail-value">{{ step2Data.firstName }}</p>

          <p class="detail-field">Middle Name</p>
          <p class="detail-value">{{ step2Data.middleName }}</p>

          <p class="detail-field">Age Range</p>
          <p class="detail-value">{{ step2Data.ageRange }}</p>

          <p class="detail-field">Is Solo Parent?</p>
          <p class="detail-value">
            {{ step2Data.isSoloParent ? 'Yes' : 'No'}}
          </p>

          <p class="detail-field">Is House of Representatives Employee?</p>
          <p class="detail-value">{{ step2Data.isHouseEmployee ? 'Yes' : 'No'}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wizard-content column-threee">
    <div class="wizard-details">
      <h4>Thank you for booking your visit with us</h4>
      <div class="description">
        <p class="consent">
          By providing your email address or mobile number, you acknowledge and agree that it will be used strictly for confirmation purposes related to your request. Any changes in schedule will also be communicated through the contact details you provide. Rest assured, your information will not be shared with any third parties and will be kept confidential in accordance with our <a href="#">privacy policy</a>.
        </p>
        <form [formGroup]="form" class="form">
            <div>
              <p-iftalabel>
                <input pInputText formControlName="email" autocomplete="off" />
                <label>Email address</label>
                <div
                  *ngIf="
                    form.get('email')?.invalid &&
                    form.get('email')?.touched
                  "
                  class="required"
                >
                  <div *ngIf="form.get('email')?.errors?.['required']">
        Email is required.
      </div>
      <div *ngIf="form.get('email')?.errors?.['email']">
        Please enter a valid email address.
      </div>
                </div>
              </p-iftalabel>
            </div>
            <div>
              <p-iftalabel>
                <input
                  pInputText
                  formControlName="mobileNo"
                  autocomplete="off"
                  placeholder="+639XXXXXXXXX"
                  (keypress)="allowOnlyNumbers($event)"
                  (input)="limitToTenDigits($event)"
                  (blur)="onMobileBlur()"
                />
                <label>Mobile number</label>
              </p-iftalabel>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>