<div class="page-container">
  <div class="header">
    <div class="header-content">
      <h1>
        <a routerLink="/">
          Plan your<br>visit with us
        </a>
      </h1>
      <p>
        The Legislative Information and Resource Management Department
        (LIRMD) serves as the knowledge hub of the House of Representatives,
        giving you access to the Library, Museum, and Archives.
      </p>
    </div>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>