@import "variables";
@import "../assets/fonts/aeroport/stylesheet.css";
@import "../assets/fonts/andalus/stylesheet.css";

body {
  background: $primary-color;
}

.page-container {
  text-align: center;
  padding-bottom: 100px;

  .logo {
    margin-top: 30px;
  }

  .dept-title {
    font-family: "Aeroport", sans-serif;
    margin: 20px 0;
    font-weight: 400;
    font-size: 30px;
    color: $white-color;
  }
}

.divider {
  height: 4px;
  background: $gold;
  width: 100%;
  margin: 20px 0 40px;
}

@media (max-width: 768px) {
  .page-container {
    padding: 0 20px;

    .dept-title {
      font-size: 20px;
    }
  }
}