<div class="page-container" [class.full-layout]="isInfoPage">
  <div class="header" *ngIf="!isInfoPage">
    <div class="header-content">
      <div class="logos">
        <img src="../assets/images/logo-header-1.svg" alt="Logo 1">
        <img src="../assets/images/logo-header-2.svg" alt="Logo 2">
      </div>
      <h1>
        <a routerLink="/">
          Plan your<br>visit with us
        </a>
      </h1>
      <p>
        The Legislative Information and Resource Management Department
        (LIRMD) serves as the knowledge hub of the House of Representatives,
        giving you access to the Library, Museum, and Archives.
      </p>
    </div>
  </div>
  <div class="main-content" [class.full]="isInfoPage">
    <router-outlet></router-outlet>
  </div>
</div>