<h2 class="main-title">
  {{ location }} Booking Form
</h2>
<div class="info-container">
  <form
    *ngIf="!isFormSuccess; else formSuccessTemplate"
    [formGroup]="visitForm" (ngSubmit)="submit()">
    <h4>Tour Schedule</h4>
    <div class="row">
      <div>
        <label>Preferred Schedule</label>
        <input type="date" formControlName="preferredSchedule">
        <div class="error" *ngIf="visitForm.get('preferredSchedule')?.touched && visitForm.get('preferredSchedule')?.invalid">
          Preferred Schedule is required
        </div>
      </div>
      <div>
        <label>Preferred Time</label>
        <select formControlName="preferredTime">
          <option value="">Select Time Slot</option>
          <option *ngFor="let slot of timeSlots" [value]="slot.value">
            {{ slot.label }}
          </option>
        </select>
        <div class="error" *ngIf="visitForm.get('preferredTime')?.touched && visitForm.get('preferredTime')?.invalid">
          Preferred Date is required
        </div>
      </div>
    </div>

    <h4>Visitor Details</h4>
    <div class="row">
      <div>
        <label>Select Visitor Type</label>
        <select formControlName="visitorType">
          <option
            *ngFor="let type of visitorTypes"
            [value]="type.value">
              {{ type.name }}
          </option>
        </select>
        <div class="error" *ngIf="visitForm.get('visitorType')?.touched && visitForm.get('visitorType')?.invalid">
          Visitor type is required
        </div>
      </div>
      <div *ngIf="isStudent">
        <label>Type of Student</label>
        <select formControlName="level">
          <option
            *ngFor="let type of studentTypes"
            [value]="type.value">{{ type.name }}
          </option>
        </select>
        <div class="error" *ngIf="visitForm.get('level')?.touched && visitForm.get('level')?.invalid">
          Student level is required
        </div>
      </div>
      <div *ngIf="isLGU">
        <label>Select Province</label>
        <select
          formControlName="province"
          (change)="onProvinceSelect()">
          <option
            *ngFor="let type of provinces"
            [value]="type.province">{{ type.province }}
          </option>
        </select>
        <div class="error" *ngIf="visitForm.get('province')?.touched && visitForm.get('province')?.invalid">
          Province is required
        </div>

        <label>Select Municipality</label>
        <select
          formControlName="municipality">
          <option
            *ngFor="let municipality of municipalities"
            [value]="municipality">{{ municipality }}
          </option>
        </select>
        <div class="error" *ngIf="visitForm.get('municipality')?.touched && visitForm.get('municipality')?.invalid">
          Municipality is required
        </div>
      </div>
      <div *ngIf="isOtherLGU">
        <label>LGU</label>
        <input type="text" formControlName="otherLGU" />
        <div class="error" *ngIf="visitForm.get('otherLGU')?.touched && visitForm.get('otherLGU')?.invalid">
          Other LGU is required
        </div>
      </div>
      <div *ngIf="isPrivateSector">
        <label>Company Name</label>
        <input type="text" formControlName="companyName" />
        <div class="error" *ngIf="visitForm.get('companyName')?.touched && visitForm.get('companyName')?.invalid">
          Company Name is required
        </div>
      </div>
      <div *ngIf="isForeignVisitor">
        <label>Select Country of Origin</label>
        <select formControlName="countryOfOrigin">
          <option
            *ngFor="let type of countries"
            [value]="type.value">{{ type.name }}
          </option>
        </select>
        <div class="error" *ngIf="visitForm.get('countryOfOrigin')?.touched && visitForm.get('countryOfOrigin')?.invalid">
          Country is required
        </div>
      </div>
    </div>

    <h4>Visitor Information</h4>
    <label>All fields are required</label>
    <p class="alert warning">Reminder: Additional visitor may be added by clicking on plus (+) icon. Maximum of 25 visitors can be submitted.</p>
    
    <div class="visitor-container">
      <div class="visitor-forms" formArrayName="visitorDetails">
        <div *ngFor="let visitor of visitorDetails.controls; let i=index"
            [formGroupName]="i"
            class="visitor">
          <div class="row-3">
            <div>
              <input formControlName="firstName" placeholder="First Name">
              <div class="error" *ngIf="visitor.get('firstName')?.touched && visitor.get('firstName')?.invalid">
                First Name is required
              </div>
            </div>
            <div>
              <input formControlName="middleName" placeholder="Middle Name">
            </div>
            <div>
              <input formControlName="lastName" placeholder="Last Name">
              <div class="error" *ngIf="visitor.get('lastName')?.touched && visitor.get('lastName')?.invalid">
                Last Name is required
              </div>
            </div>
          </div>
          <div class="row-4">
            <div>
              <select formControlName="sex">
                <option value="" selected>Sex</option>
                <option>Male</option>
                <option>Female</option>
              </select>
              <div class="error" *ngIf="visitor.get('sex')?.touched && visitor.get('sex')?.invalid">
                Sex is required
              </div>
            </div>
            <div>
              <input type="number" formControlName="age" placeholder="Age">
              <div class="error" *ngIf="visitor.get('age')?.touched && visitor.get('age')?.invalid">
                <span *ngIf="visitor.get('age')?.errors?.['required']">Age is required</span>
                <span *ngIf="visitor.get('age')?.errors?.['min']">Age must be at least 1</span>
              </div>
            </div>
            <div>
              <input formControlName="email" placeholder="Email">
              <div class="error" *ngIf="visitor.get('email')?.touched && visitor.get('email')?.invalid">
                <span *ngIf="visitor.get('email')?.errors?.['required']">Email is required</span>
                <span *ngIf="visitor.get('email')?.errors?.['email']">Invalid email format</span>
              </div>
            </div>
            <div>
              <input formControlName="contact" placeholder="Contact">
              <div class="error" *ngIf="visitor.get('contact')?.touched && visitor.get('contact')?.invalid">
                Contact is required
              </div>
            </div>
          </div>
          <div class="row-1">
            <div class="checkboxes">
              <label class="title">Select box if applicable</label>
              <label class="checkbox-item">
                <input type="checkbox" formControlName="soloParent"> Solo parent
              </label>
              <label class="checkbox-item">
                <input type="checkbox" formControlName="pwd"> PWD
              </label>
              <label class="checkbox-item">
                <input type="checkbox" formControlName="seniorCitizen"> Senior Citizen
              </label>
            </div>
          </div>
          <button
            type="button"
            class="remove-btn"
            *ngIf="visitorDetails.length > 1"
            (click)="removeVisitor(i)">
          − Remove
          </button>
          
        </div>
      </div>
      <div class="controls" *ngIf="!isMaxVisitorReached">
        <button
          type="button"
          class="add-btn"
          (click)="addVisitor()">
          <span class="icon">+</span>
          
        </button>
        <span class="mobile-text" (click)="addVisitor()">Add Visitor</span>
      </div>
    </div>
    <div class="no-of-pax">Number of pax is
      <span class="badge">{{ paxCount }}</span>
    </div>
    <hr />
    <p>The main contact person of this visit must upload a valid government ID for identification. This is required for the issuance of House Pass.</p>
    
    <div class="id-upload">
      <label for="govId" class="upload-btn">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free v6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M288 109.3L288 352c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-242.7-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352l128 0c0 35.3 28.7 64 64 64s64-28.7 64-64l128 0c35.3 0 64 28.7 64 64l0 32c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64l0-32c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"/></svg>
        Click to Upload ID
      </label>
      <input
        type="file"
        id="govId"
        (change)="onFileSelected($event)"
        hidden
      />
      <p class="uploaded-file" *ngIf="uploadedFileName">File Uploaded: {{ uploadedFileName }}</p>
      <div class="error" *ngIf="uploadMessage">
        {{ uploadMessage }}
      </div>
      <div class="error" *ngIf="visitForm.get('governmentId')?.touched && visitForm.get('governmentId')?.invalid">
        Uploading a valid ID is required
      </div>
    </div>

    <button
      type="submit" 
      [disabled]="visitForm.invalid"
      >
        <span *ngIf="!isLoading">Submit</span>

        <span *ngIf="isLoading" class="loading">
          <span class="spinner"></span> Submitting...
        </span>
        
    </button>
  </form>
  <ng-template #formSuccessTemplate>
    <p>We have received the booking request. You will receive a confirmation and further instructions thru your email.</p>
  </ng-template>
</div>