<div class="content">
  <div class="cards">
    <div class="card-wrapper">
      <button
        type="button"
        class="card card-museum"
        (click)="goToInfo('museum')">
        <span class="title">
          <span>The House</span><br />
          The Legislative Museum of the House of Representatives
        </span>
      </button>
    </div>
    <div class="card-wrapper">
      <button
        type="button"
        class="card card-library"
        (click)="goToInfo('library')">
        <span class="title">
          <span>Library and Archives</span>
        </span>
      </button>
    </div>
    <div class="card-wrapper">
      <button
        type="button"
        class="card card-house-archives"
        (click)="goToInfo('combined')">
        <span class="title">
          <span>Library, Archives and The House</span>
        </span>
      </button>
    </div>
  </div>
</div>
