<h2 class="main-title">What do you want to visit?</h2>

<div class="cards">
  <div class="card-wrapper">
    <div
      class="card card-museum"
      (click)="goToInfo('The House Museum')"></div>
    <div class="title">The House Museum</div>
  </div>
  <div class="card-wrapper">
    <div
      class="card card-library"
      (click)="goToInfo('Library & Archives')"></div>
    <div class="title">Library & Archives</div>
  </div>
  <div class="card-wrapper">
    <div
      class="card card-house-archives"
      (click)="goToInfo('The House Museum and Library & Archives')">
    </div>
    <div class="title">The House Museum and Library & Archives</div>
  </div>  
</div>