<div class="content">
  <div class="cards">
    <div class="card-wrapper">
      <div
        class="card card-museum"
        (click)="goToInfo('The Legislative Museum of the House of Representatives')">
        <div class="title">
          <span>The House</span><br /> 
          The Legislative Museum of the House of Representatives
        </div>
      </div>
    </div>
    <div class="card-wrapper">
      <div
        class="card card-library"
        (click)="goToInfo('Library and Archives')">
        <div class="title">
          <span>Library and Archives</span>
        </div>
      </div>
    </div>
    <div class="card-wrapper">
      <div
        class="card card-house-archives"
        (click)="goToInfo('Library, Archives and The House')">
        <div class="title">
          <span>Library, Archives and The House</span>
        </div>
      </div>
    </div>  
  </div>
</div>
