<main>
  <ngx-form-wizard
    [steps]="steps"
    [stepperOptions]="stepperOptions"
    (finished)="onFinish()"
    (cancelled)="onCancel()">
  </ngx-form-wizard>
  <p-dialog
    header="Success"
    [(visible)]="displaySuccessDialog"
    [modal]="true"
    [closable]="false"
    [responsive]="true"
    [style]="{ width: '450px' }"
  >
    <p>We have received the booking request. You will receive a confirmation and further instructions thru your email.</p>
    <p-button label="Ok" (click)="closeSuccessDialog()"/>
    <p-footer>
      <button type="button" label="OK" icon="pi pi-check" (click)="closeSuccessDialog()"></button>
    </p-footer>
  </p-dialog>
</main>
