@import "variables";

// ===== RESET =====
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: $primary-color;
  padding-bottom: 20px;
}

.flatpickr-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: $gold;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;

  &:hover:not(:disabled) {
    background: darken($gold, 8%);
  }

  &:disabled {
    background-color: #cccccc; /* gray color */
    color: #666666; /* darker gray text */
    cursor: not-allowed;
    opacity: 0.7; /* slightly faded */
  }
}

.main-title {
  font-family: "Andalus", sans-serif;
  color: $gold1;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

.info-container {
  font-family: "Aeroport", sans-serif;
  max-width: 1024px;
  margin: 30px auto;
  background: $info-bg-color;
  padding: 40px 25px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: $info-content;

  h3 {
    font-family: "Andalus", sans-serif;
    color: $info-title;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .error {
    color: $error;
    margin-top: 3px;
    font-size: 12px;
  }

  .next-btn {
    margin-top: 20px;
    padding: 10px 30px;
  }
}

form {
  font-family: "Aeroport", sans-serif;
  text-align: left;

  h4 {
    color: $black-color;
    font-weight: 400;
    font-size: 30px;
  }

  label {
    color: $form-label-color;
  }

  .alert {
    margin: 10px 0;
    font-size: 12px;
  }

  .warning {
    color: $warning;  
  }
}

.id-upload {
  margin: 15px 0 25px;

  &.document {
    font-size: 12px;
    margin: 0;

    label {
      padding: 8px;
    }

    .upload-btn {
      .icon {
        width: 15px;
        height: 15px;
      }
    }
  }

  .upload-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    background-color: $buttonGray;
    border: 1px solid $buttonGrayBorder;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s;
    color: $black-color;

    &:hover {
      background-color: $buttonBackground;
    }

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .uploaded-file {
    margin-top: 10px;
    font-size: 12px;
    color: $green;
  }
}

.spinner {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 25px;
  }
}