
$primary-color: #263963;
$error-color: #E74C3C;
$white-color: #FFFFFF;
$black-color: #000000;
$gold: #C9AA5E;
$gold1: #C9AA5F;
$info-bg-color: #FEF1E4;
$info-title: #840716;
$info-content: #263963;
$form-label-color:#A58154;
$warning: #840716;
$divider: #263963;
$shadow: 0 8px 20px rgba(0, 0, 0, 0.15);